.god-mode-page {
  background: rgb(39, 40, 34);
  color: #ccc;
  overflow: hidden;
  width: 100%;
}

.god-mode-toolbar {
}

pre {
  overflow: auto;
}

.Pane1 {
  background: rgb(39, 40, 34);
}

.Pane{
  overflow: auto;
}

.dateTime {
  padding: 0 1em;
}
