.god-mode-page {
  background: black;
  color: #ccc;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.god-mode-toolbar {
  flex: 0;
}

.god-mode-page pre {
  flex: 1;
  overflow: auto;
}


.Pane1 {
  background: black;
}

